body {
    font-family: monospace, "Courier New", Courier;
    color: #000000;
    padding: 1em;
    margin: auto;
    max-width: 72em;
    background: #fefefe;
}
ul {
    list-style-type: circle;
}
a {
    color: #828282; 
    text-decoration: none;
}
nav a {
    color: #b9462c;
}
.code {
    padding: 1em;
    margin: auto;
    word-wrap: break-word;
    border: 1px solid #c9ba9b;
    color: #59402D;
    background-color: #fff3cd;
    font-size: smaller;
}
